%p 
  Thank you for joining Scoopinion! You have successfully signed up.

%p 
Here's a few tips to get you started:

%ul
  %li 
    With the Scoopinion App for Chrome, you can spread the news you read automagically. #{link_to "Get it here", "http://www.scoopinion.com/extension"} if you haven't already!

  %li 
    Articles are shared only from our hand-picked #{link_to "Whitelist", "http://www.scoopinion.com/sites"}.

%p
  Sincerely,<br/>
  Your Fellows at Scoopinion
