- if visit && visit.article
  = link_to visit.article do
    %span.site #{visit.article.site.name}:
    = html_entities(truncate(visit.article.title, :length => 60))
    %span.time #{time_ago_in_words(visit.created_at)} ago
