<h1>Error building extension!</h1>
<p>If you are reading this, building your extension failed for some reason. An automatic notification has been sent and we will look into this as soon as we can.</p>
<p>Please note that the Huome.net extension only works with <a href="http://google.com/chrome">Google Chrome</a>.</p>
