- title t("pages.about.title")
- heading t("pages.about.title")

- content_for :sort_menu do
  %li{ class: @subpage.nil? ? "is-selected" : nil }
    = link_to t("pages.about.introduction"), page_path(:about)
    %span.nav--sort__arrow
  %li{ class: @subpage.present? ? "is-selected" : nil }
    = link_to t("pages.about.faq"), page_path(:about, :faq)
    %span.nav--sort__arrow

.align-center.four-fifths= render @subpage || "pages/about/introduction"
- content_for :inline_css do
  :sass
    body
      @media screen and (min-width: 768px)
        // background: inline-image("doodles/helsinki-stew.png") no-repeat center 152px, inline-image("bg.png") top repeat-x
    body.faq
      @media screen and (min-width: 768px)
        // background: image-url("doodles/clouds-birds.png") no-repeat center 142px, image-url("bg.png") top repeat-x
    html
      background: #f8f8f8
