- title "About"

#nosto
  %h1 Frequently Asked Questions
%ul#qa

  %li.question What is this?
  %li
    %p 
      Scoopinion is an effortless community-based news recommendation and spreading service. It has two parts: the <strong>Scoopinion website</strong> and the <strong>Scoopinion App for Chrome</strong>.

  %li.question What should I do to get started?
  %li
    %ol
      %li Create an account in Scoopinion.
      %li Download the Scoopinion App from the top right corner. The app needs access to some of your browser's functionality in order to work.
      %li Have fun! Read the news, post comments and see what your fellow readers have read.

  %li.question Where can I reach you?
  %li
    %p 
      Feel free to drop us a line at #{link_to "contact@scoopinion.com", "mailto:contact@scoopinion.com"}.

  %li.question What does the Scoopinion App for Chrome do?
  %li
    %p The app gathers your browsing history in well-established news sites such as The Guardian, The New York Times and HS.fi. It tracks information about how long you read each article and uses this information to estimate the interestingness of each article.

  %li.question What information does Scoopinion gather?
  %li
    %p Scoopinion gathers browsing history of news sites that are whitelisted.
    %p You can remove articles you have visited easily from the app and from the site. Scoopinion scores the articles based on a guess of how closely you read them. To do this, the browser app looks at how you scroll the page and move your pointer.

  %li.question How are the headlines in ”scoops” arranged? Or are they in order at all?
  %li Yes, they are in order: the number in the orange ball tells how many points of interests the article has gathered. Points of interest are automagically given by readers who use the Scoopinion application. Our algorithm interprets the little gestures of the way the article is read and points are given accordingly. Then the weight of the points are reduced in function of time to keep the content fresh. You read, you rate.


  %li.question What is the Whitelist?
  %li
    %p The Scoopinion Whitelist is hand-picked list of established news sites. The Scoopinion App for Chrome uses the Whitelist to determine if it’s ok to publish a given article you read in Scoopinion. If the app icon in your browser's address bar is blue, you are on a whitelisted site.

    %p You can help to make the site better by suggesting sites to the #{link_to "Whitelist", sites_url}. Just check that the site qualifies for the four Whitelist rules:
    %ol.indented 
      %li Your friends would like to see the content of the site.
      %li You could show the content of the site to your mother.
      %li The site has an editor.
      %li The main topic of the site is news, articles, edited blog posts, informative videos or news-related photography.


  %li.question What information does Scoopinion gather from my Facebook account?
  %li If you connect your Facebook account with Scoopinion, your profile picture, full name, email account and list of friends are retrieved. Your picture and name will be showed in site, and your friend list allows you to invite friends to service. Your email address is not published in the service, but it used to send you the important notifications regarding the service. We try to keep the emails to the minimum. Further, we never ever post to your Facebook wall without your explicit permission.

  %li.question Can I use Scoopinion without Google Chrome?
  %li 
    
    %p Yes, but you can only enjoy some of its features. We cannot, for example, show what articles you have read already and you cannot compare your reading stats to your fellow readers. #{link_to 'Get Chrome here', "http://google.com/chrome"}.

  %li.question What is the data used for?
  %li
    %p The site publishes a feed of links to interesting articles you and other people have really read. List of friends and followers is used for generating the fellow feed and to help you finding relevant users and their feeds in the service. Email addresses are only used to inform users of important updates and they are not visible to other users nor will they be passed on. Profile picture and full name are public for viewing if you have connected your facebook account to your Scoopinion account.
    %p Information that could be linked to you is not handed over to any third parties. However, Scoopinion reserves the right to pass anonymous analytics data to third parties.