#nosto
  %h1 Privacy Policy
#terms
  %p This agreement is in Finnish. An English version will be provided at a later stage.
  %ul
    %li.terms-title 1. Rekisteriseloste
    %li Henkilötietolain (523/1999) 10 §:n mukainen rekisteriseloste.
    %li.terms-title 2. Rekisterinpitäjän nimi ja osoite
    %li
      Private Mind
      %br/
      Kankurinkatu 7
      %br/
      00150 Helsinki
      %br/
      y-tunnus 0663671-2
    %li.terms-title 3. Rekisterin nimi
    %li Scoopinion-palvelun asiakasrekisteri
    %li.terms-title 4. Tietojen käyttötarkoitus
    %li Rekisterin tarkoituksena on Scoopinion-palvelun tuottaminen ja asiakassuhteen ylläpitäminen käyttäjän ja palveluntarjoajan välillä.
    %li.terms-title 5. Tietojen lähde
    %li Tämän rekisterin tiedot saadaan asiakkaiden rekisteröityessä Scoopinion palveluun tai päivittäessään omia tietojaan. Tiedot voidaan myös saada asiakkaan suostumuksella myös facebook-palvelusta. Selaushistoriatiedot saadaan selainapplikaation kautta.
    %li.terms-title 6. Tietojen oikeellisuus
    %li Tietojen oikeellisuutta ei tarkisteta. Asiakkaalla on mahdollisuus rajoitetusti korjata tallennettavia tietoja käyttäen käyttäjätunnus-salasana –tunnistusta, tai ottamalla yhteyttä palvelun ylläpitäjään.
    %li.terms-title 7. Rekisterin tietosisältö
    %li
      %ul.sub-list
        %li Scoopinion -palvelun asiakasrekisteri sisältää seuraavat tiedot:
        %li Yksilöllinen käyttäjätunnus
        %li Henkilötiedot: Nimi, syntymäpäivä
        %li Salasana
        %li Sähköpostiosoite
        %li Facebookin käyttäjänumero
        %li Sivuhistoria (Rajoitettu whitelist-sivurekisteriin)
        %li Internet-palvelimen tekniset lokit (sisältäen käyttäjän IP-osoitteen ja selaintiedot)
        %li Käyttäjän sosiaaliset yhteydet palvelussa
        %li Käyttäjän viestihistoria palvelussa
        %li Lupa uutiskirjeen lähettämiseen käyttäjälle (sähköpostisuoramarkkinointi)
        %li Käyttäjän klikkausten historia palvelussa
        %li Käyttäjälle lähetetyt sähköpostit Scoopinion -palvelusta (viestin sisältö ja otsikko)
    %li.terms-title 8. Tietojen luovutus
    %li
      %ul
        %li 1. Rekisteriin annettu käyttäjätunnus tai nimi, selaushistoria whitelist-sivurekisteriin kerätyillä sivuilla ja asiakkaan kirjoittamat kommentit näkyvät sivustolla.
        %li 2. Scoopinion-palvelun kehittämiseen käytettävät tiedot: Scoopinion-palvelua kehitetään google analyticsin keräämien tietojen perusteella. Analyysit ovat anonyymejä ja niissä tarkastellaan käyttäjän selauskäyttäytymistä palvelussa. Scoopinion-palvelu käyttää kerättyjä sähköpostiosoitteita asiakasyhteydenpitoon. Tietoja käytetään myös mahdollisten väärinkäytösten seuraamiseen ja selvittämiseen.
        %li 3. Tietojen luovutus kolmansille osapuolille Scoopinion varaa mahdollisuuden välittää palvelusta tehtyjä anonyymejä analyysejä kolmansille osapuolille. Jokaisella rekisteröityneellä on käyttöoikeus rekisteriin tietojensa näkemiseen ja rajoitettuun muokkaamiseen hänelle myönnetyllä käyttäjätunnuksella.
    %li Käyttöehtoihin ja vastaaviin asioihin liittyviin kysymyksiin vastataan osoitteessa contact@scoopinion.com