%h1 Privacy Policy

%ul.sort
  %li.selected= link_to "English", "#english"
  %li= link_to "Finnish", "#finnish"
.tab#english
  %h2 Contact information
  %p
    Scoopinion Oy
    %br/
    Itäinen Teatterikuja 5 A 12
    %br/
    00100 Helsinki, Finland
    %br/
    2397989-9
  %h2 The collection of data
  %p Scoopinion collects and stores data of its users (later "User").
  %p The reason for collecting this data is to provide the Scoopinion service for the User and other users, and to maintain communications between the User and Scoopinion.
  %p User data is obtained when he or she signs up to the service. Data can, with the User's consent, be requested from Facebook. Internet usage data is obtained, with the User's consent, via a browser application.
  %p The correctness of the information is not verified. The User has a limited ability to edit the information by logging into the service or by contacting Scoopinion.
  %h2 What is collected
  %p
    %ul.sub-list
      %li The Scoopinion registry contains the following data:
      %li Username
      %li Personal information: Name, date of birth, gender
      %li Password (in a secure form)
      %li Email address
      %li Facebook user id
      %li News reading history (limited to the Whitelist)
      %li Technical log data related to web browsing (IP addresses, browser features)
      %li Social connections within the service
      %li Messaging history in the service
      %li Permission to send email
      %li Action history in the service
      %li History of emails sent to the service
  %h2 The Release of Data
  %p
    %ol
      %li The data is used to develop Scoopinion. Scoopinion may send email to the address provided by the user. The data may also be used to investigate possible abuse.
      %li Scoopinion reserves the right to provide anonymized analyses of the data to third parties.
  %p Any questions regarding this agreement should be sent to contact@scoopinion.com.
.tab#finnish.hidden
  %h2 1. Rekisteriseloste
  %p Henkilötietolain (523/1999) 10 §:n mukainen rekisteriseloste.
  %h2 2. Rekisterinpitäjän nimi ja osoite
  %p
    Scoopinion Oy
    %br/
    Itäinen Teatterikuja 5 A 12
    %br/
    00100 Helsinki
    %br/
    y-tunnus 2397989-9
  %h2 3. Rekisterin nimi
  %p Scoopinion-palvelun asiakasrekisteri
  %h2 4. Tietojen käyttötarkoitus
  %p Rekisterin tarkoituksena on Scoopinion-palvelun tuottaminen ja asiakassuhteen ylläpitäminen käyttäjän ja palveluntarjoajan välillä.
  %h2 5. Tietojen lähde
  %p Tämän rekisterin tiedot saadaan asiakkaiden rekisteröityessä Scoopinion palveluun tai päivittäessään omia tietojaan. Tiedot voidaan myös saada asiakkaan suostumuksella myös facebook-palvelusta. Selaushistoriatiedot saadaan selainapplikaation kautta.
  %h2 6. Tietojen oikeellisuus
  %p Tietojen oikeellisuutta ei tarkisteta. Asiakkaalla on mahdollisuus rajoitetusti korjata tallennettavia tietoja käyttäen käyttäjätunnus-salasana –tunnistusta, tai ottamalla yhteyttä palvelun ylläpitäjään.
  %h2 7. Rekisterin tietosisältö
  %p
    %ul.sub-list
      %li Scoopinion -palvelun asiakasrekisteri sisältää seuraavat tiedot:
      %li Yksilöllinen käyttäjätunnus
      %li Henkilötiedot: Nimi, syntymäpäivä
      %li Salasana
      %li Sähköpostiosoite
      %li Facebookin käyttäjänumero
      %li Sivuhistoria (Rajoitettu whitelist-sivurekisteriin)
      %li Internet-palvelimen tekniset lokit (sisältäen käyttäjän IP-osoitteen ja selaintiedot)
      %li Käyttäjän sosiaaliset yhteydet palvelussa
      %li Käyttäjän viestihistoria palvelussa
      %li Lupa uutiskirjeen lähettämiseen käyttäjälle (sähköpostisuoramarkkinointi)
      %li Käyttäjän klikkausten historia palvelussa
      %li Käyttäjälle lähetetyt sähköpostit Scoopinion -palvelusta (viestin sisältö ja otsikko)
  %h2 8. Tietojen luovutus
  %p
    %ol
      %li Rekisteriin annettu käyttäjätunnus tai nimi, selaushistoria whitelist-sivurekisteriin kerätyillä sivuilla ja asiakkaan kirjoittamat kommentit näkyvät sivustolla.
      %li Scoopinion-palvelun kehittämiseen käytettävät tiedot: Scoopinion-palvelua kehitetään google analyticsin keräämien tietojen perusteella. Analyysit ovat anonyymejä ja niissä tarkastellaan käyttäjän selauskäyttäytymistä palvelussa. Scoopinion-palvelu käyttää kerättyjä sähköpostiosoitteita asiakasyhteydenpitoon. Tietoja käytetään myös mahdollisten väärinkäytösten seuraamiseen ja selvittämiseen.
      %li Tietojen luovutus kolmansille osapuolille Scoopinion varaa mahdollisuuden välittää palvelusta tehtyjä anonyymejä analyysejä kolmansille osapuolille. Jokaisella rekisteröityneellä on käyttöoikeus rekisteriin tietojensa näkemiseen ja rajoitettuun muokkaamiseen hänelle myönnetyllä käyttäjätunnuksella.
  %p Käyttöehtoihin ja vastaaviin asioihin liittyviin kysymyksiin vastataan osoitteessa contact@scoopinion.com