html.visitors.index {

    body {
	background: 0;
    }

    .iframe {

	.interest {
	    margin-top: 10px;
	    margin-left: 10px;
	    margin-right: 10px !important;
	}

	.interest, a {
	    float: left;
	    margin-right: 3px;
	}

	img {
	    border: 0;
	    border-radius: 0;
	}

    }

}