%meta{:property => "og:title", :content => this_or_default(yield(:title), "Scoopinion - Spread the News!") }
%meta{:property => "og:type", :content => this_or_default(yield(:og_type), "article") }
%meta{:property => "og:image", :content => this_or_default(yield(:thumbnail), asset_path('fb_share.jpg')) }
%meta{:property => "og:description", :content => this_or_default(yield(:description), default_description) }
%meta{:property => "og:url", :content => request.url }