.grid.three-fifths
  - if @all_sites.suggested.any?
    .grouped-sites
      %ul.nav.nav--stacked
        - @all_sites.suggested.group_by(&:initial).sort_by{|x| x[0]}.each do |initial, sites|
          %li.cf.landmark
            %h2.float--left.square.one-sixth= initial
            %ul.float--left.nav.nav--stacked.push--left
              - sites.each do |site|
                %li
                  .inline-block= link_to site.name, "http://" + site.url, :target => "_blank", class: "brand-color"
                  .inline-block= render :partial => "state_change_button", :locals => { :site => site, :new_state => "confirmed", :submit => "Confirm" }
                  .inline-block= render :partial => "state_change_button", :locals => { :site => site, :new_state => "rejected", :submit => "Reject" }