- title "Stats"

= content_for :javascript do
  = javascript_include_tag "/javascripts/jquery.flot.js"
  = javascript_include_tag "stats"

- heading "Statistics"

.content
  - for s in Stats.all
    = render :partial => "stats", :locals => s

- content_for :inline_css do
  :sass
    table.stats
      width: 95%
      height: 400px